<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinematic World</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/utils.css">
</head>

<body>

    {{>navbar}}

    <div class="home-articles max-width-1 m-auto font2">
        {{!-- <h2>Latest Movie Updates</h2> --}}
        <div class="home-article">
            <img src="images/img3.jpg" alt="cinema">
            <div class="home-article-content font1">
                <h3>SVP First Single has relesed</h3>
            </div>
        </div>
        <div class="home-article">
            <img src="images/img3.jpg" alt="cinema">
            <div class="home-article-content font1">
                <h3>SVP First Single has relesed</h3>
            </div>
        </div>
        <div class="home-article">
            <img src="images/img3.jpg" alt="cinema">
            <div class="home-article-content font1">
                <h3>SVP First Single has relesed</h3>
            </div>
        </div>
        <div class="home-article">
            <img src="images/img3.jpg" alt="cinema">
            <div class="home-article-content font1">
                <h3>SVP First Single has relesed</h3>
            </div>
        </div>
    </div>

    <div class="home-articles max-width-1 m-auto font2">
        {{!-- <h2>Latest Movie Updates</h2> --}}
        <div class="home-article">
            <img src="images/img3.jpg" alt="cinema">
            <div class="home-article-content font1">
                <h3>SVP First Single has relesed</h3>
            </div>
        </div>
        <div class="home-article">
            <img src="images/img3.jpg" alt="cinema">
            <div class="home-article-content font1">
                <h3>SVP First Single has relesed</h3>
            </div>
        </div>
        <div class="home-article">
            <img src="images/img3.jpg" alt="cinema">
            <div class="home-article-content font1">
                <h3>SVP First Single has relesed</h3>
            </div>
        </div>
        <div class="home-article">
            <img src="images/img3.jpg" alt="cinema">
            <div class="home-article-content font1">
                <h3>SVP First Single has relesed</h3>
            </div>
        </div>
    </div>

    <div class="home-articles max-width-1 m-auto font2">
        {{!-- <h2>Latest Movie Updates</h2> --}}
        <div class="home-article">
            <img src="images/img3.jpg" alt="cinema">
            <div class="home-article-content font1">
                <h3>SVP First Single has relesed</h3>
            </div>
        </div>
        <div class="home-article">
            <img src="images/img3.jpg" alt="cinema">
            <div class="home-article-content font1">
                <h3>SVP First Single has relesed</h3>
            </div>
        </div>
        <div class="home-article">
            <img src="images/img3.jpg" alt="cinema">
            <div class="home-article-content font1">
                <h3>SVP First Single has relesed</h3>
            </div>
        </div>
        <div class="home-article">
            <img src="images/img3.jpg" alt="cinema">
            <div class="home-article-content font1">
                <h3>SVP First Single has relesed</h3>
            </div>
        </div>
    </div>

    <div class="home-articles max-width-1 m-auto font2">
        {{!-- <h2>Latest Movie Updates</h2> --}}
        <div class="home-article">
            <img src="images/img3.jpg" alt="cinema">
            <div class="home-article-content font1">
                <h3>SVP First Single has relesed</h3>
            </div>
        </div>
        <div class="home-article">
            <img src="images/img3.jpg" alt="cinema">
            <div class="home-article-content font1">
                <h3>SVP First Single has relesed</h3>
            </div>
        </div>
        <div class="home-article">
            <img src="images/img3.jpg" alt="cinema">
            <div class="home-article-content font1">
                <h3>SVP First Single has relesed</h3>
            </div>
        </div>
        <div class="home-article">
            <img src="images/img3.jpg" alt="cinema">
            <div class="home-article-content font1">
                <h3>SVP First Single has relesed</h3>
            </div>
        </div>
    </div>

    <div class="home-articles max-width-1 m-auto font2">
        {{!-- <h2>Latest Movie Updates</h2> --}}
        <div class="home-article">
            <img src="images/img3.jpg" alt="cinema">
            <div class="home-article-content font1">
                <h3>SVP First Single has relesed</h3>
            </div>
        </div>
        <div class="home-article">
            <img src="images/img3.jpg" alt="cinema">
            <div class="home-article-content font1">
                <h3>SVP First Single has relesed</h3>
            </div>
        </div>
        <div class="home-article">
            <img src="images/img3.jpg" alt="cinema">
            <div class="home-article-content font1">
                <h3>SVP First Single has relesed</h3>
            </div>
        </div>
        <div class="home-article">
            <img src="images/img3.jpg" alt="cinema">
            <div class="home-article-content font1">
                <h3>SVP First Single has relesed</h3>
            </div>
        </div>
    </div>




    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>

</html>